@{
    ViewData["Title"] = "Privacy Policy";
}
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <img class="d-inline-block rounded mx-auto d-block" src="~/images/secretpictures.jpg" width="1200" height="1200" />
                    <br />
                   
                </ul>
            </div>
        </div>
    </nav>
</header>


@section Scripts
{
    <script>
        $(document).ready(function () {
            $('#galltag a').html("you are Welcome");
            $('#myP').remove();
            $('#logintag').remove();
            $('#shopC').remove();
            $('#searchF').remove();

        });

    </script>
}
 